# 1. Introduction

The document will walk you through the codes that I used to select variables using python. We use different techniques to select variables and then finally each technique votes whether they have selected the variable. Finally, the vote is counted and the variables with higher votes are used in the modeling process.

# 2. Load Dataset

In [1]:
#import packages
import os
import pandas as pd
import numpy as np

df = pd.read_excel('/Users/mbagav200/Desktop/Medium/bank.xlsx') #Read excel file

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
age          4521 non-null int64
job          4521 non-null object
marital      4521 non-null object
education    4521 non-null object
default      4521 non-null object
balance      4521 non-null int64
housing      4521 non-null object
loan         4521 non-null object
contact      4521 non-null object
day          4521 non-null int64
month        4521 non-null object
duration     4521 non-null int64
campaign     4521 non-null int64
pdays        4521 non-null int64
previous     4521 non-null int64
poutcome     4521 non-null object
y            4521 non-null object
dtypes: int64(7), object(10)
memory usage: 600.5+ KB

In [3]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [4]:
df['target'] = df['y'].apply(lambda x : 1 if x == 'yes' else 0)  # Convert to numeric
df = df.drop('y',axis=1) #drop the y column

In [5]:
df['target'].value_counts()

0    4000
1     521
Name: target, dtype: int64

I am going to use a quick way to encode the class variables (Label Encoder). Since some of the variables in the train dataframe are categories

In [6]:
# Data transformation
# Convert categorical values to numeric using label encoder
from sklearn import preprocessing
from collections import defaultdict
d = defaultdict(preprocessing.LabelEncoder)
# Encoding the categorical variable
fit = df.select_dtypes(include=['object']).apply(lambda x: d[x.name].fit_transform(x))

#Convert the categorical columns based on encoding
for i in list(d.keys()):
    df[i] = d[i].transform(df[i])

In [7]:
features = df[df.columns.difference(['target'])]
labels = df['target']

# 3. Variable Selection

## 3.1 Weight of Evidence and Information Value

In [8]:
# import packages
import pandas as pd
import numpy as np
import pandas.core.algorithms as algos
from pandas import Series
import scipy.stats.stats as stats
import re
import traceback
import string

max_bin = 20
force_bin = 5

# define a binning function
def mono_bin(Y, X, n = max_bin):
    
    df1 = pd.DataFrame({"X": X, "Y": Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]
    r = 0
    while np.abs(r) < 1:
        try:
            d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.qcut(notmiss.X, n)})
            d2 = d1.groupby('Bucket', as_index=True)
            r, p = stats.spearmanr(d2.mean().X, d2.mean().Y)
            n = n - 1 
        except Exception as e:
            n = n - 1

    if len(d2) == 1:
        n = force_bin         
        bins = algos.quantile(notmiss.X, np.linspace(0, 1, n))
        if len(np.unique(bins)) == 2:
            bins = np.insert(bins, 0, 1)
            bins[1] = bins[1]-(bins[1]/2)
        d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.cut(notmiss.X, np.unique(bins),include_lowest=True)}) 
        d2 = d1.groupby('Bucket', as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["MIN_VALUE"] = d2.min().X
    d3["MAX_VALUE"] = d2.max().X
    d3["COUNT"] = d2.count().Y
    d3["EVENT"] = d2.sum().Y
    d3["NONEVENT"] = d2.count().Y - d2.sum().Y
    d3=d3.reset_index(drop=True)
    
    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)
    
    d3["EVENT_RATE"] = d3.EVENT/d3.sum().EVENT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.EVENT_RATE/d3.NON_EVENT_RATE)
    d3["IV"] = (d3.EVENT_RATE-d3.NON_EVENT_RATE)*np.log(d3.EVENT_RATE/d3.NON_EVENT_RATE)
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'WOE', 'IV']]       
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    
    return(d3)

def char_bin(Y, X):
        
    df1 = pd.DataFrame({"X": X, "Y": Y})
    df2 = df1.groupby('X',as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["COUNT"] = df2.count().Y
    d3["MIN_VALUE"] = df2.groups
    d3["MAX_VALUE"] = df2.groups
    d3["EVENT"] = df2.sum().Y
    d3["NONEVENT"] = df2.count().Y - df2.sum().Y     
    d3["EVENT_RATE"] = d3.EVENT/d3.sum().EVENT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.EVENT_RATE/d3.NON_EVENT_RATE)
    d3["IV"] = (d3.EVENT_RATE-d3.NON_EVENT_RATE)*np.log(d3.EVENT_RATE/d3.NON_EVENT_RATE)
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'WOE', 'IV']]       
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    d3 = d3.reset_index(drop=True)
    
    return(d3)

def data_vars(df1, target):
    
    stack = traceback.extract_stack()
    filename, lineno, function_name, code = stack[-2]
    vars_name = re.compile(r'\((.*?)\).*$').search(code).groups()[0]
    final = (re.findall(r"[\w']+", vars_name))[-1]
    
    x = df1.dtypes.index
    count = -1
    
    for i in x:
        if i.upper() not in (final.upper()):
            if np.issubdtype(df1[i], np.number) and len(Series.unique(df1[i])) > 2:
                conv = mono_bin(target, df1[i])
                conv["VAR_NAME"] = i
                count = count + 1
            else:
                conv = char_bin(target, df1[i])
                conv["VAR_NAME"] = i            
                count = count + 1
                
            if count == 0:
                iv_df = conv
            else:
                iv_df = iv_df.append(conv,ignore_index=True)
    
    iv = pd.DataFrame({'IV':iv_df.groupby('VAR_NAME').IV.max()})
    iv = iv.reset_index()
    return(iv_df,iv)

In [9]:
final_iv, IV = data_vars(df,df.target)

In [10]:
IV = IV.rename(columns={'VAR_NAME':'index'})

In [11]:
IV.sort_values(['IV'],ascending=0)

        index        IV
6    duration  1.651501
3     contact  0.247734
13      pdays  0.203267
15   previous  0.177081
12      month  0.133297
8     housing  0.106556
1     balance  0.076208
10       loan  0.060791
9         job  0.034011
7   education  0.029952
4         day  0.025833
2    campaign  0.025002
11    marital  0.019556
0         age  0.018162
14   poutcome  0.015968
5     default  0.000016

## 3.2 Variable Importance

In [12]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

clf.fit(features,labels)

preds = clf.predict(features)

from sklearn.metrics import accuracy_score
accuracy = accuracy_score(preds,labels)
print(accuracy)

0.991373589914

In [13]:
from pandas import DataFrame
VI = DataFrame(clf.feature_importances_, columns = ["RF"], index=features.columns)

In [14]:
VI = VI.reset_index()

In [15]:
VI.sort_values(['RF'],ascending=0)

        index        RF
6    duration  0.293540
1     balance  0.116463
0         age  0.101571
4         day  0.097402
12      month  0.075244
13      pdays  0.050558
9         job  0.045834
14   poutcome  0.037806
2    campaign  0.034616
7   education  0.031879
15   previous  0.030899
11    marital  0.026701
3     contact  0.022822
8     housing  0.022015
10       loan  0.008915
5     default  0.003735

## 3.3 Recursive Feature Elimination

In [16]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
rfe = RFE(model, 20)
fit = rfe.fit(features, labels)

In [17]:
from pandas import DataFrame
Selected = DataFrame(rfe.support_, columns = ["RFE"], index=features.columns)
Selected = Selected.reset_index()

In [18]:
Selected[Selected['RFE'] == True]

        index   RFE
0         age  True
1     balance  True
2    campaign  True
3     contact  True
4         day  True
5     default  True
6    duration  True
7   education  True
8     housing  True
9         job  True
10       loan  True
11    marital  True
12      month  True
13      pdays  True
14   poutcome  True
15   previous  True

## 3.4 Variable Importance - Extratrees Classifier

In [19]:
from sklearn.ensemble import ExtraTreesClassifier

model = ExtraTreesClassifier()
model.fit(features, labels)

print(model.feature_importances_)

[ 0.09919509  0.08455448  0.06234572  0.02609204  0.08123557  0.00546116
  0.25011907  0.03957787  0.02108962  0.06415021  0.01243742  0.03920188
  0.08637802  0.03975189  0.05782169  0.03058826]

In [20]:
from pandas import DataFrame
FI = DataFrame(model.feature_importances_, columns = ["Extratrees"], index=features.columns)

In [21]:
FI = FI.reset_index()

In [22]:
FI.sort_values(['Extratrees'],ascending=0)

        index  Extratrees
6    duration    0.250119
0         age    0.099195
12      month    0.086378
1     balance    0.084554
4         day    0.081236
9         job    0.064150
2    campaign    0.062346
14   poutcome    0.057822
13      pdays    0.039752
7   education    0.039578
11    marital    0.039202
15   previous    0.030588
3     contact    0.026092
8     housing    0.021090
10       loan    0.012437
5     default    0.005461

## 3.5 Chi Square

In [23]:
df1 = df.copy()

from sklearn import preprocessing
from collections import defaultdict
d = defaultdict(preprocessing.LabelEncoder)
# Encoding the categorical variable
fit = df1.apply(lambda x: d[x.name].fit_transform(x))

#Convert the categorical columns based on encoding
for i in list(d.keys()):
    df1[i] = d[i].transform(df1[i])

In [24]:
features1 = df1[df1.columns.difference(['target'])]
labels1 = df1['target']

In [25]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

model = SelectKBest(score_func=chi2, k=5)
fit = model.fit(features1, labels1)

In [26]:
import numpy
numpy.set_printoptions(suppress=True)
print(fit.scores_)

[     45.84063034   11343.97706276      88.07290162     100.51007877
       2.60631502       0.00754274  119483.9344331        3.80267508
      21.50080127       8.15459672      19.04525811       0.32039715
      12.32541175    5374.89961779      11.86870754     330.26034213]

In [27]:
from pandas import DataFrame
pd.options.display.float_format = '{:.2f}'.format
chi_sq = DataFrame(fit.scores_, columns = ["Chi_Square"], index=features1.columns)

In [28]:
chi_sq = chi_sq.reset_index()

In [29]:
chi_sq.sort_values('Chi_Square',ascending=0)

        index  Chi_Square
6    duration   119483.93
1     balance    11343.98
13      pdays     5374.90
15   previous      330.26
3     contact      100.51
2    campaign       88.07
0         age       45.84
8     housing       21.50
10       loan       19.05
12      month       12.33
14   poutcome       11.87
9         job        8.15
7   education        3.80
4         day        2.61
11    marital        0.32
5     default        0.01

## 3.6 L1 feature selection

In [30]:
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel

In [31]:
lsvc = LinearSVC(C=0.01, penalty="l1", dual=False).fit(features, labels)
model = SelectFromModel(lsvc,prefit=True)

In [32]:
from pandas import DataFrame
l1 = DataFrame(model.get_support(), columns = ["L1"], index=features.columns)

In [33]:
l1 = l1.reset_index()

In [34]:
l1[l1['L1'] == True]

       index    L1
0        age  True
2   campaign  True
3    contact  True
4        day  True
6   duration  True
8    housing  True
9        job  True
10      loan  True
11   marital  True
12     month  True
13     pdays  True
14  poutcome  True
15  previous  True

## 3.7 Combine all together

In [35]:
from functools import reduce
dfs = [IV, VI, Selected, FI, chi_sq, l1]
final_results = reduce(lambda left,right: pd.merge(left,right,on='index'), dfs)

In [36]:
final_results.head()

      index   IV   RF   RFE  Extratrees  Chi_Square     L1
0       age 0.02 0.10  True        0.10       45.84   True
1   balance 0.08 0.12  True        0.08    11343.98  False
2  campaign 0.03 0.03  True        0.06       88.07   True
3   contact 0.25 0.02  True        0.03      100.51   True
4       day 0.03 0.10  True        0.08        2.61   True

In [37]:
final_results.columns

Index(['index', 'IV', 'RF', 'RFE', 'Extratrees', 'Chi_Square', 'L1'], dtype='object')

## 3.8 Variable Score

In [38]:
columns = ['IV', 'RF', 'Extratrees', 'Chi_Square']

score_table = pd.DataFrame({},[])
score_table['index'] = final_results['index']

for i in columns:
    score_table[i] = final_results['index'].isin(list(final_results.nlargest(5,i)['index'])).astype(int)
    
score_table['RFE'] = final_results['RFE'].astype(int)
score_table['L1'] = final_results['L1'].astype(int)

In [39]:
score_table['final_score'] = score_table.sum(axis=1)

In [40]:
score_table.sort_values('final_score',ascending=0)

        index  IV  RF  Extratrees  Chi_Square  RFE  L1  final_score
6    duration   1   1           1           1    1   1            6
12      month   1   1           1           0    1   1            5
0         age   0   1           1           0    1   1            4
1     balance   0   1           1           1    1   0            4
3     contact   1   0           0           1    1   1            4
4         day   0   1           1           0    1   1            4
13      pdays   1   0           0           1    1   1            4
15   previous   1   0           0           1    1   1            4
2    campaign   0   0           0           0    1   1            2
8     housing   0   0           0           0    1   1            2
9         job   0   0           0           0    1   1            2
10       loan   0   0           0           0    1   1            2
11    marital   0   0           0           0    1   1            2
14   poutcome   0   0           0           0    1   1            2
5     default   0   0           0           0    1   0            1
7   education   0   0           0           0    1   0            1

## 3.9 Multicollinearity - VIF  (Addon)

In [41]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [42]:
def calculate_vif(features):
    vif = pd.DataFrame()
    vif["Features"] = features.columns
    vif["VIF"] = [variance_inflation_factor(features.values, i) for i in range(features.shape[1])]    
    return(vif)

In [43]:
vif = calculate_vif(features)
while vif['VIF'][vif['VIF'] > 10].any():
    remove = vif.sort_values('VIF',ascending=0)['Features'][:1]
    features.drop(remove,axis=1,inplace=True)
    vif = calculate_vif(features)

/Users/mbagav200/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [44]:
vif

     Features  VIF
0         age 7.75
1     balance 1.26
2    campaign 1.87
3     contact 1.99
4         day 4.55
5     default 1.03
6    duration 2.00
7   education 3.64
8     housing 2.52
9         job 2.88
10       loan 1.19
11    marital 4.02
12      month 5.23
13      pdays 1.85
14   previous 1.67